<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Register</title>

		<!-- Bootstrap -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		{% if registered %}
		<p>Redirecting to homepage...</p>
		<strong>Thank you for registering!</strong>
		<script>
		    function redirect() {
	      		window.location.href = "{% url 'browser:homepage' %}";
	   		}

			setTimeout(redirect, 3000);
		</script>
		{% else %}
		<div class="page-header" style="font-size: 40px; font-weight: bold;"><center>Create an account</center></div>
		<div class="" style="margin-top: 10%;"></div>
		<center>
		<form id="user_form" method="post" action="{% url 'browser:register' %}" enctype="multipart/form-data">
			{% csrf_token %}
		
			<!--Display each form. 
				The as_p method wraps each element in a paragraph (<p>) element.
				This ensures each element appears on a new line,
				making everything look neater. -->
			{% for field in user_form %}
			<fieldset class="form-group">
				<div class="row">
					<div class="col-md-1 col-md-offset-3">
						<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
					</div>
					<div class="col-md-4">
						<input type="{{ field.name }}" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label }}">
					</div>
				</div>
			</fieldset>
			{% endfor %}
			<br />
			<!-- Provide a button to click to submit the form. -->
			<div class="col-md-4 col-md-offset-4">
				<input style="width: 70%" type="submit" value="Register" class="btn btn-info"/>
			</div>
		</form>
		</center>
		</div>
		{% endif %}
	</body>
</html>
		
