<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load dajaxice_templatetags %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatibile" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Rooms</title>

        <!-- Include JQuery -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.ba-serializeobject.js" type="text/javascript"></script>

		<!-- Bootstrap -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- DjangoTables2 -->
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

        <!-- jQuery UI Slider - Horizontal range slider -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

        <!-- Import Dajaxice -->
        {% dajaxice_js_import %}
        <script>
            $(function() {
                $("#slider-range").slider({
                    orientation: "horizontal",
                    range: true,
                    min: 5,
                    max: 60,
                    values: [16, 46],
                    slide: function(event, ui) {
                        $("#capacity-range").val(ui.values[0] + "-" + ui.values[1]);
                    }
                });

                $("#capacity-range").val(
                    $("#slider-range").slider("values", 0) +
                    "-" +
                    $("#slider-range").slider("values", 1)
                );

                $("#attr_list").click(
                    function(e) {
                        $(this).find('ul').toggle()
                    }
                );
            });

            function message_callback(data) {
                if (data.status == 'Success!') {
                    $('#contact_errors').html(data.status);
                } else {
                    for (message in data.status) {
                        $('#contact_errors').append("<p><b>" + message + ":</b>" + data.status["message"] + "</p>");
                    }
                }
            }

            $.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};

            function send_message() {
                data = $('#contact_form').serializeObject();
                Dajaxice.browser.send_message(message_callback, {'form': data});
                return false;
            }
        </script>
	</head>
	<body>
		<div style="font-size: 300%; font-weight: bold;" class="page-header">
			<center><i>Rooms</i></center>
		</div>
        <div id="contact_errors"></div>
        <form action="" method="post" id="contact_form" accept-charset="utf-8">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <p><input value="Send Message" id="send_msg" onclick="send_message();" type="button" </p>
        </form>
		<div class="container" style="margin-top: 4%">
			<fieldset class="form-group">
				<!--<div class="col-md-6 col-md-offset-1">
					<label style="font-size: 150%; font-weight: normal; margin-bottom: 4%; text-decoration: underline;">Get all available rooms that include given phrase:</label>
				</div>-->
				<div class="col-md-5">
                    <label style="font-size: 140%; font-weight: normal; margin-bottom: 4%; text-decoration: underline;">Get all available rooms that include given phrase:</label>
					<form method="get" action="{% url 'browser:rooms' %}">
                        <div class="row">
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-search" style="font-size: 200%;"></span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="query" id="id_query" class="form-control" placeholder="Enter your phrase" style="width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="Search" class="btn btn-info" style="width: 100%;">
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="capacity-range">Capacity range:</label>
                                <input type="text" id="capacity-range" name="capacity"
                                        style="width:40px; border:0; color:#f6931f; font-weight:bold;">
                                <div id="slider-range" style="width:130px;"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <!-- Tablica attrybutów do wyboru -->

                                <!--<table class="table table-hover table-bordered table-striped" style="margin-bottom:4%;">
                                    <tr>
                                        <th>Attributes</th>
                                    </tr>
                                    {% for item in attribute_list %}
                                    <tr>
                                        <td>
                                            {{ item }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>-->
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#attributes">
                                                    Show list of attributes:
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="attributes" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for item in attribute_list %}
                                                <input type="checkbox" name="{{ item }}" value="True"/>   {{ item }}<br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<ul id="attr_list">
                                    <strong>Attributes:</strong>
                                    <br />
                                    {% for item in attribute_list %}
                                        <input type="checkbox" name="{{ item }}" value="True"/>   {{ item }}<br />
                                    {% endfor %}
                                </ul>-->
                            </div>
                        </div>
                    </form>
				</div>
				<center class="col-md-5 col-md-offset-1" style="margin-top: 2%;">
                    {% if rooms %}
					<form action="{% url 'browser:terms' %}" method="post">
						{% csrf_token %}
						<table class="table table-hover table-bordered table-striped" style="margin-bottom:4%;">
							<tr>
								<th><a href="?sort=name">Name</a></th>
								<th><a href="?sort=capacity">Capacity</a></th>
								<th>Description</th>
								<th>Selected</th>
							</tr>
							{% for room in rooms %}
								<tr>
								{% for value in room %}
									<td>{{ value }}</td>
								{% endfor %}
								</tr>
							{% endfor %}
						</table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if rooms.has_previous %}
                                    <a href="?page={{ rooms.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.
                                </span>

                                {% if rooms.has_next %}
                                    <a href="?page={{ rooms.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
						<div>
							<input type="submit" value="Submit" class="btn btn-success" style="width: 60%;"id="submit_room">
						</div>
				    </form>
                    {% else %}
                    <span class="glyphicon glyphicon-warning-sign" style="font-size: 1000%;"></span>
                    <br/>
                    <label class="lead" style="margin-top: 3%;">Any room fulfills Your criteria!</label>
                    {% endif %}
				</center>
			</fieldset>
		</div>
	</body>
	<script src="js/bootstrap.min.js"></script>
</html>


