<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatibile" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Rooms</title>

		<!-- Bootstrap -->
		<link  rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <!-- DjangoTables2 -->
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <!-- jQuery UI Slider - Horizontal range slider -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
        <!-- Timepicker -->
        <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.ptTimeSelect.css" />
	</head>
	<body>
		<div style="font-size: 300%; font-weight: bold;" class="page-header">
			<center><i>Rooms</i></center>
		</div>
		<div class="container" style="margin-top: 4%">
			<fieldset class="form-group">
				<!--<div class="col-md-6 col-md-offset-1">
					<label style="font-size: 150%; font-weight: normal; margin-bottom: 4%; text-decoration: underline;">Get all available rooms that include given phrase:</label>
				</div>-->
				<div class="col-md-5">
                    <label style="font-size: 140%; font-weight: normal; margin-bottom: 4%; text-decoration: underline;">Get all available rooms that include given phrase:</label>
					<form method="get" action="{% url 'browser:rooms' %}">
                        <div class="row">
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-search" style="font-size: 200%;"></span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="query" id="id_query" class="form-control" placeholder="Enter your phrase" style="width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="Search" class="btn btn-info" style="width: 100%;">
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="capacity-range">Capacity range:</label>
                                <input type="text" id="capacity-range" name="capacity"
                                        style="width:40px; border:0; color:#f6931f; font-weight:bold;">
                                <div id="slider-range" style="width:130px;"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <!-- Tablica attrybutów do wyboru -->

                                <!--<table class="table table-hover table-bordered table-striped" style="margin-bottom:4%;">
                                    <tr>
                                        <th>Attributes</th>
                                    </tr>
                                    {% for item in attribute_list %}
                                    <tr>
                                        <td>
                                            {{ item }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>-->
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#attributes">
                                                    Show list of attributes:
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="attributes" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for item in attribute_list %}
                                                <input type="checkbox" name="{{ item }}" value="True"/>   {{ item }}<br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<ul id="attr_list">
                                    <strong>Attributes:</strong>
                                    <br />
                                    {% for item in attribute_list %}
                                        <input type="checkbox" name="{{ item }}" value="True"/>   {{ item }}<br />
                                    {% endfor %}
                                </ul>-->
                            </div>
                        </div>
                    </form>
				</div>
				<center class="col-md-5 col-md-offset-1" style="margin-top: 2%;">
                    {% if rooms %}

						<table class="table table-hover table-bordered table-striped" style="margin-bottom:4%;">
							<tr>
								<th><a href="?sort=name">Name</a></th>
								<th><a href="?sort=capacity">Capacity</a></th>
								<th>Description</th>
								<th>Selected</th>
                                <th></th>
							</tr>
							{% for room in rooms %}
								<tr>
                                {% with room|first as name %}
								{% for value in room %}
									<td>{{ value }}</td>
								{% endfor %}
                                    <td>
                                        <input type="button" class="btn btn-success query_btn" id="{{ name }}" name="{{ name }}" value="{{ name }}">
                                    </td>
                                {% endwith %}
								</tr>
							{% endfor %}
						</table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if rooms.has_previous %}
                                    <a href="?page={{ rooms.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.
                                </span>

                                {% if rooms.has_next %}
                                    <a href="?page={{ rooms.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
						<div>
							<input type="submit" value="Submit" class="btn btn-success" style="width: 60%;" id="submit_room">
                            <button type="button" data-toggle="modal" data-target="#my_modal" class="btn btn-warning" style="width: 60%;">Launch modal</button>
						</div>

                    {% else %}
                    <span class="glyphicon glyphicon-warning-sign" style="font-size: 1000%;"></span>
                    <br/>
                    <label class="lead" style="margin-top: 3%;">Any room fulfills Your criteria!</label>
                    {% endif %}
				</center>
			</fieldset>
		</div>
        <!-- Modal terminu-->
        <div class="modal fade" id="my_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                        <h4 class="modal-title">Browse available terms</h4>
                    </div>
                    <div class="modal-body" id="data_modal">
                        <center>
                            <img id="load_gif" src="{{ STATIC_URL }}css/ajax-loader.gif" style="width: 30%; height: 30%;"/>
                        </center>
                    </div>
                    <div class="modal-factor">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_button" style="width: 28%; margin-left: 10%;">Close</button>
                            <button type="button" class="btn btn-primary" id="refresh_button" style="width: 28%; margin-right:10%;">Refresh</button>

                            <br><br>
                            <div id="conf-alert" class="alert alert-warning" style="display:none; width: 80%;">
                                Confirmation has been rejected&hellip;
                            </div>
                            <div id="transaction-alert" class="alert alert-danger" style="display: none; width: 80%;">
                                Try of renting the room hasn't finished successfully&hellip;
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal konfirmacji terminu-->
        <div class="modal fade" id="confirmation_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>-->
                        <h4 class="modal-title">Confirm Your choice</h4>
                    </div>
                    <div class="modal-body" id="conf_data_modal" style="background-color: #f2efa4;">
                        <!--<div class="col-md-6 col-md-offset-3">-->
                            <!--<div class="jumbotron">-->
                                <center>
                                    <h1><strong>Confirmation</strong></h1>
                                    <div style="margin-top: 6%;">
                                        <h3>Reservation data</h3>
                                        <ul class="list-group" style="margin-top: 6%; width: 60%;">
                                            <li class="list-group-item" style="background-color: #ffe15b;"><strong id="conf_room"></strong></li>
                                            <!--<li class="list-group-item"><strong id="conf_description">Description:</strong></li>-->
                                            <li class="list-group-item" style="background-color: #ffeb57"><strong id="conf_date"></strong></li>
                                            <li class="list-group-item" style="background-color: #fff261"><strong id="conf_from"></strong></li>
                                            <li class="list-group-item" style="background-color: #fff869"><strong id="conf_to"></strong></li>
                                        </ul>
                                    </div>
                                </center>
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="modal-factor" style="background-color: #f2efa4;">
                        <center>
                            <button type="button" class="btn btn-danger" id="reject_button" style="margin-left: 10%; width: 28%;">Reject</button>
                            <button type="button" class="btn btn-primary" id="confirm_button" style="margin-right: 10%; width: 28%;">Confirm</button>
                            <br><br>
                            <br><br>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include JQuery -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.ba-serializeobject.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!--Timepicker-->
        <script src="{{ STATIC_URL }}js/jquery.ptTimeSelect.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                var room_name = "";
                var date = "";
                var from_hour = "";
                var to_hour = "";
                $('#close_button').click(function(e) {
                    $('.alert').hide();
                });
                $.ajaxSetup({ cache: false });
                $('#load_gif').ajaxStart(function() { $(this).show(); });
                $('#load_gif').ajaxComplete(function() { $(this).hide(); });
                // Stąd przychodzą zapytania o poszczególne pokoje
                $('.query_btn').click(function() {
                    room_name = $(this).attr('name');
                    console.log("Cośtam klikam");
                    console.log("Name: " + room_name);
                    console.log("Wchodzę do '$.ajax'");
                    $('#my_modal').modal('show');
                        var jqxhr = $.ajax("ajaxexample_json",
                        {
                            type: "GET",
                            dataType: 'json',
                            data: {'room_name': room_name},
                        })
                        .done(function(data) {
                            console.log('success');

                            var counter = 0;
                            var str = '<div class="panel-group" id="date_collapse">';
                            $.each(data, function(key, value) {
                                //console.log(data);
                                date = key;
                                counter++;
                                console.log("Key: " + date + ", " + "Value: " + value);
                                //str += '<input type="button" value=' + value + '>';
                                console.log("DATE: " + date);
                                str += '<div class="panel panel-default">';
                                str += '<div class="panel-heading">';// id="date" value="' + date + '">';
                                str += '<h4 class="panel-title">';
                                str += '<a data-toggle="collapse" data-parent="date_collapse" href="#collapse';
                                str += counter + '">';
                                str += '<strong>' + counter + '. </strong>' + date;
                                str += '</a></h4></div>';
                                str += '<div id="collapse' + counter + '" class="panel-collapse collapse';
                                str += (counter == 1) ? ' in">' : '">';
                                str += '<div class="panel-body">';
                                str += '<div class="row">';
                                str += '<div class="col-md-6">';
                                str += 'Suggested hour intervals are: ';
                                str += '<br><br>';
                                str += '<ul>';
                                $.each(this, function(key, value) {
                                    console.log("Key: " + key + ", value: " + value);
                                    str += '<li>' + value[0] + '-' + value[1] + '</li>';
                                })
                                str += '</ul>';
                                str += '</div>';
                                str += '<div class="col-md-6">';

                                str += 'Room: ' + '<input name="room" value="' + room_name + '" style="margin-right:16%;" readonly>';
                                str += 'Date: ' + '<input name="date" class="date" value="' + date + '" style="margin-right:16%;" readonly>';
                                str += '<br><br>';
                                str += 'From: ' + '<input name="to_hour" class="timepicker from" style="width: 31%; margin-right:9%;" value="05:00 PM"/>';

                                str += 'To: ' + '<input name="from_hour" class="timepicker to" style="width: 31%;" value="07:00 PM"/>';
                                str += '<br/><br/>';
                                str += '<center>';
                                str += '<input type="submit" class="btn btn-success reserve" value="Reserve" style="width: 100%;"/>';
                                str += '</center>';
                                //str += '</form>';
                                str += '</div>';
                                str += '</div></div></div>';
                            })

                            str += '</div></div>';
                            $('#data_modal').html(str);
                            $('#my_modal').modal('show');
                            $('.timepicker').ptTimeSelect({
                                /*containerClass: "timeCntr",
                                containerWidth: "350px",
                                setButtonLabel: "Select",
                                minutesLabel: "min",
                                hoursLabel: "Hrs",*/
                                zIndex: "10000", // ustawić na jakiś bardzo duży
                            });

                            $('.reserve').click(function() {
                                closest_from_hour = $('.from', $(this).closest("div")).val();
                                closest_to_hour = $('.to', $(this).closest("div")).val();
                                closest_date = $('.date', $(this).closest("div")).val();
                                date = closest_date;
                                from_hour = closest_from_hour;
                                to_hour = closest_to_hour;
                                console.log("Najbliszy od do: (" + closest_from_hour + ", " + closest_to_hour + "), date: " + closest_date);
                                $('#conf_room').html('Room: ' + room_name);
                                $('#conf_date').html('Date: ' + closest_date);
                                $('#conf_from').html('From: ' + closest_from_hour);
                                $('#conf_to').html('To: ' + closest_to_hour);

                                $('#my_modal').modal('hide');
                                $('#confirmation_modal').modal('show');
                            });
                        })
                        .fail(function() {
                            console.log('fail');
                        })
                        .always(function() {
                            console.log('complete');
                        })
                });

                $('#reject_button').click(function() {
                    $('#confirmation_modal').modal('hide');
                    //$('.alert').hide();
                    $('#conf-alert').show();
                    $('#my_modal').modal('show');
                });

                $('#confirm_button').click(function() {
                        new_date = date.replace(/\-/g,'.');
                        var jqxhr = $.ajax("rent",
                        {
                            type: "GET",
                            dataType: 'json',
                            data:
                            {
                                'room_name': room_name,
                                'date': new_date,
                                'from_hour': from_hour,
                                'to_hour': to_hour,
                            },
                        })
                        .done(function(data) {
                            console.log('success' + data);
                        })
                        .fail(function() {
                            console.log('fail');
                        })
                        .always(function() {
                        })
                });
/*                $('#confirm_button').click(function() {
                    console.log("dataaa: " + date);
                    var jqxhr = $.ajax("rent_json",
                    {
                        type: "GET",
                        dataType: 'json',
                        data: {'date': date},

                    })
                    .done(function(data) {
                        console.log("Konfirmacja sukces");
                        console.log(data);
                        if (data == False) {

                        } else {

                        }
                    })
                    .fail(function() {
                        console.log("Konfirmacja nie doszła do skutku");
                    })
                    .always(function() {
                        console.log("Proces konfirmacji zakończona");
                    })
                }); */
                // Ustawienia sliderów
                $(function() {
                    $("#slider-range").slider({
                        orientation: "horizontal",
                        range: true,
                        min: 5,
                        max: 60,
                        values: [16, 46],
                        slide: function(event, ui) {
                            $("#capacity-range").val(ui.values[0] + "-" + ui.values[1]);
                        }
                    });

                    $("#capacity-range").val(
                        $("#slider-range").slider("values", 0) +
                        "-" +
                        $("#slider-range").slider("values", 1)
                    );
                });
            });
        </script>
	</body>
</html>


